:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #0d1117;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--l0-commits: #161b22;
	--l1-commits: #0e4429;
	--l2-commits: #006d32;
	--l3-commits: #26a641;
	--l4-commits: #39d353;
	--container-maxw: 780px;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.container {
	max-width: var(--container-maxw);
	width: 100%;
	margin: 0 auto;
	--gap: 4px;
}

.cell {
	border-radius: 2px;
	width: var(--size);
	background-color: var(--l0-commits);
}

.cell,
.day-cell {
	--size: 10px;
	display: block;
	height: var(--size);
	line-height: var(--size);
}

.graph {
	border: 1px solid #30363d;
	border-radius: 6px;
	padding: 10px;
	width: max-content;
	margin: 0 auto;
}

.comparison {
	margin: 10px 0 0 auto;
	font-size: 12px;
	display: flex;
	gap: var(--gap);
	width: max-content;
	align-items:center;
}

.weeks {
	list-style: none;
	display: flex;
	gap: var(--gap);
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.weeks li {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.weeks li:first-of-type {
	margin-right: 5px;
}

.level-1 {
	background-color: var(--l1-commits);
}

.level-2 {
	background-color: var(--l2-commits);
}

.level-3 {
	background-color: var(--l3-commits);
}

.level-4 {
	background-color: var(--l4-commits);
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
		--l0-commits: #ebedf0;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}
