:root {
	--l0-commits: #161b22;
	--l1-commits: #0e4429;
	--l2-commits: #006d32;
	--l3-commits: #26a641;
	--l4-commits: #39d353;
	--container-maxw: 780px;
	--bg-color: #0d1117;
	--tooltip-bg: #151b25;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--bg-color);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.container {
	max-width: var(--container-maxw);
	width: 100%;
	margin: 0 auto;
	--size: 10px;
	--gap: 4px;
}

.cell {
	border-radius: 2px;
	width: var(--size);
	background-color: var(--l0-commits);
	position: relative;
}

.tooltip::before,
.tooltip::after {
	content: attr(data-tooltip);
	position: absolute;
	padding: 2px;
	opacity: 0;
	transform: translate(-50%, 0);
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
	background-color: var(--tooltip-bg);
	z-index: 2;
	border-radius: 5px;
	width: max-content;
	padding: 8px;
	bottom: 0;
	left: 50%;
	pointer-events: none;
}

.tooltip::before {
	content: '';
	transform: translate(-50%, 0) rotate(45deg);
	width: var(--size);
	height: var(--size);
	z-index: 1;
	padding: 0;
	border-radius: 2px;
}

.tooltip:hover::before {
	opacity: 1;
	transform: translate(-50%, calc(var(--size) * -1)) rotate(45deg);
}

.tooltip:hover::after {
	opacity: 1;
	transform: translate(-50%, calc(var(--size) * -1.5));
}

.cell,
.day-cell {
	display: block;
	height: var(--size);
	line-height: var(--size);
}

.months {
	font-size: 12px;
	margin-left: calc(var(--gap) + var(--first-col-width));
	display: grid;
	grid-template-columns: repeat(52, var(--size));
	grid-template-rows: 1fr;
	gap: var(--gap);
}

.months span {
	grid-column: span var(--span);
}

.graph {
	--first-col-width: 4ch;
	border: 1px solid #30363d;
	border-radius: 6px;
	padding: 10px;
	width: max-content;
	margin: 0 auto;
}

.comparison {
	margin: 10px 0 0 auto;
	font-size: 12px;
	display: flex;
	gap: var(--gap);
	width: max-content;
	align-items: center;
}

.weeks {
	list-style: none;
	display: flex;
	gap: var(--gap);
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.weeks li {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.weeks li:first-of-type {
	width: var(--first-col-width);
}

.level-1 {
	background-color: var(--l1-commits);
}

.level-2 {
	background-color: var(--l2-commits);
}

.level-3 {
	background-color: var(--l3-commits);
}

.level-4 {
	background-color: var(--l4-commits);
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
		--l0-commits: #ebedf0;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}
