:root {
	--l0-commits: #161b22;
	--l1-commits: #0e4429;
	--l2-commits: #006d32;
	--l3-commits: #26a641;
	--l4-commits: #39d353;
	--container-maxw: 780px;
	--bg-color: #0d1117;
	--tooltip-bg: #151b25;
	--border-color: #30363d;

	--z: 10000;
	--highlight: 10001;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--bg-color);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
#root {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	margin: 0 auto;
	padding: 20px;
	align-items: flex-start;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.container {
	max-width: var(--container-maxw);
	width: 100%;
	margin: 0 auto;
	--size: 10px;
	--gap: 4px;
}

.cell {
	border: 0;
	padding: 0;
	cursor: pointer;
	border-radius: 2px;
	width: var(--size);
	background-color: var(--l0-commits);
	position: relative;
	outline-offset: -1px;
	outline: 1px solid transparent;
	transition:
		opacity 0.3s ease,
		outline-color 0.3s ease;
}

.cell.active {
	outline-color: #fff2;
}

.tooltip::before,
.tooltip::after {
	content: attr(data-tooltip);
	position: absolute;
	padding: 2px;
	opacity: 0;
	transform: translate(calc(-50% + var(--x-translation)), 0);
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
	background-color: var(--tooltip-bg);
	z-index: 2;
	border-radius: 5px;
	width: max-content;
	padding: 8px;
	bottom: 0;
	left: 50%;
	pointer-events: none;
}

.tooltip::before {
	content: '';
	transform: translate(calc(-50% + var(--x-translation)), 0) rotate(45deg);
	width: var(--size);
	height: var(--size);
	z-index: 1;
	padding: 0;
	border-radius: 2px;
}

.tooltip:hover::before {
	opacity: 1;
	transform: translate(
			calc(-50% + var(--x-translation)),
			calc(var(--size) * -1)
		)
		rotate(45deg);
}

.tooltip:hover::after {
	opacity: 1;
	transform: translate(
		calc(-50% + var(--x-translation)),
		calc(var(--size) * -1.5)
	);
}

/* First three weeks */
.weeks li:nth-of-type(-n + 8) {
	--x-translation: 25%;
}

/* First three weeks */
.weeks li:nth-of-type(-n + 4) {
	--x-translation: 40%;
}

/* Last three weeks */
.weeks li:nth-last-child(-n + 7) {
	--x-translation: -25%;
}

/* Last three weeks */
.weeks li:nth-last-child(-n + 3) {
	--x-translation: -43%;
}

.cell.disabled {
	pointer-events: none;
	opacity: 0.2;
}

.cell,
.day-cell {
	color: currentColor;
	display: block;
	height: var(--size);
	line-height: var(--size);
}

.months {
	font-size: 12px;
	margin-left: calc(var(--gap) + var(--first-col-width));
	display: grid;
	grid-template-columns: repeat(52, var(--size));
	grid-template-rows: 1fr;
	gap: var(--gap);
}

.months span {
	grid-column: span var(--span);
}

.graph {
	--first-col-width: 4ch;
	border: 1px solid var(--border-color);
	border-radius: 6px;
	padding: 10px 10px 30px;
	width: calc(100dvw - 60px);
	margin: 0 auto;
	position: relative;
	max-width: calc(100% - 20px);
}

.graph-scrollable {
	max-width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

@media (min-width: 830px) {
	.graph-scrollable {
		overflow-x: hidden;
		overflow-y: hidden;
	}
}

.graph-content {
	width: max-content;
}

.comparison {
	margin: 0;
	z-index: 2;
	font-size: 12px;
	display: flex;
	gap: var(--gap);
	width: max-content;
	align-items: center;
	position: absolute;
	right: var(--size);
	bottom: 5px;
}

.weeks {
	list-style: none;
	display: flex;
	gap: var(--gap);
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.weeks li {
	--x-translation: 0%;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.weeks li:first-of-type {
	width: var(--first-col-width);
}

.level-1 {
	background-color: var(--l1-commits);
}

.level-2 {
	background-color: var(--l2-commits);
}

.level-3 {
	background-color: var(--l3-commits);
}

.level-4 {
	background-color: var(--l4-commits);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	word-wrap: normal;
	border: 0;
}

.spinner,
.sparkles {
	width: 12px;
	height: 12px;
}

@keyframes load {
	from {
		stroke-dashoffset: 6;
		transform: rotate(0);
	}
	to {
		stroke-dashoffset: -6;
		transform: rotate(360deg);
	}
}

.spinner .path {
	stroke-dasharray: 6;
	animation: load 2s linear infinite;
	transform-origin: center;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
		--l0-commits: #ebedf0;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}

/* Commits */

.commits {
	list-style: none;
	padding: 0;
	display: grid;
	gap: 20px;
}


@keyframes fly-in {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.commit {
	--delay: 0;
	display: grid;
	grid-template-columns: 1fr auto max-content auto;
	gap: 5px;
	justify-items: left;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid var(--border-color);
	opacity: 0;
	animation: fly-in 0.3s calc(var(--delay) * 100ms) ease forwards;
}

.commit > a > svg {
	margin-left: 5px;
}

.commit img {
	border-radius: 50%;
}

.commit p {
	grid-column: -1/1;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	margin: 0;
	height: 2.5ch;
}

/* Onboarding */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.onboarding {
	position: fixed;
	z-index: var(--z);
	inset: 0;
	background-color: #0009;
	animation: fade-in 0.3s ease;
}

.onboarding button {
	position: fixed;
	right: 20px;
	top: 20px;
	border: 0;
	border-radius: 3px;
	padding: 10px;
	cursor: pointer;
}

.highlighted {
	z-index: var(--highlight);
}

.highlighted::after {
	content: attr(data-onboardingmessage);
	width: max-content;
	max-width: calc(100dvw - 40px);
	text-align: center;
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translate(-50%);
}
